<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get으로 정보 받기/ axios로 보내기</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        function sendGet(){
            var form = document.getElementById("form_info");
            // axios는 해당페이지에서 처리 - 받아오기
            axios({
                method: "get",
                url: "/form",
                params: {
                    name: form.name.value,
                    gender: form.gender.value,
                    year: form.year.value,
                    month: form.month.value,
                    date: form.date.value,
                    interest: form.interest.value
                }
            }).then(function(res){
                alert(res.data.msg)
            })
        }
    </script>
</head>

<body>
    <form action="getForm" id="form_info">
        이름<input type="text" name="name">
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="men"><label for="men">남자</label>
            <input type="radio" name="gender" value="여자" id="women"><label for="women">여자</label>
        </fieldset>
        <br>
        <fieldset>
            <legend>생년월일</legend>
            <select name="year" id="">
                <% for(var i =1980; i <= 2022; i++){ %>
                    <% if(i==2010) { %>
                        <option value="<%=i%>" selected><%=i%></option>
                    <% } else {%>
                        <option value="<%=i%>"><%=i%></option>
                    <% } %>
                <% } %>
            </select>년
            <select name="month">
                <% for(var i =1; i <= 12; i++){ %>
                    <option value="<%=i%>"><%=i%></option>
                <% } %>
            </select>월
            <select name="date">
                <% for(var i =1; i <= 31; i++){ %>
                    <option value="<%=i%>"><%=i%></option>
                <% }%>
            </select>일
        </fieldset>
        <br>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="여행"> 여행
            <input type="checkbox" name="interest" value="패션"> 패션
            <input type="checkbox" name="interest" value="음식"> 음식
        </fieldset>
        <br>
        <button type="text" onclick="sendGet()">회원가입</button>
    </form>

</body>

</html>